* {
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  background-color: rgb(50, 167, 145);
  justify-content: space-between;
  height: 10vh;
}

.trybewarts-login {
  display: flex;
}

main {
  display: flex;
}

#evaluation-form {
  display: flex;
  width: 675px;
  flex-direction: column;
  border: 2px solid red;
}

#trybewarts-forms-logo {
  height: 500px;
}

#nomeSobre , #emailHouse {
  display: flex;
}

#avaliacao {
  display: flex;
  justify-content: space-between;
}

#rates {
  display: flex;
  flex-wrap: wrap;
}

#agree {
  display: flex;
}

#form-data {
  border: 2px solid red;
  flex-direction: column;
}

#nome {
  display: flex;
}
